*{
  padding:0 ;
  margin: 0;
  font-family: sans-serif;

}

body{
  background-color: rgb(183, 179, 179);
}

#navdiv1{
  display: flex;
  height: 60px;
  width: 100%;
  background-color: rgb(62, 27, 217);
  
  
}
.carangueijo{
  max-width: 50px;
  max-height: 50px;
  margin:7px;
  border-radius: 5px;
}
input{
  height: 25px;
  margin: auto;
  border-radius: 2px;
  
}
.inputandbuton{
    margin: auto;
    height: 40px;
    
    border-radius: 2px;
}
.inputandbuton button{
    height: 29px;
    width: 28px;
    border-radius: 7px;
    margin-left: 5px;
}
#doistraços{
  height:40px;
  width: 40px;
  margin-top: 5px;
  margin-right: 8px;
}













/* ================================ APRESENTAÇÃO
================================================ */






#aprediv1{
  display: flex;
  height: 200px;
  width: 100%;
  max-width: 800px;
  background-color: blue;
  margin: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.232);
  border-radius: 10px;
}



#apredivimg{
  width: 100%;
  height: 100%;
  border-radius: 2px;
}








/* ================ CATEGORIAS================================================== */



#categoriasdiv2{
  display:grid;
  
  width: 500px;
  padding: 15px;
  margin: auto;
  grid-template-columns: 240px 240px  ;
  grid-template-rows: 250px 250px 250px 250px;
  gap: 3px;
  
  
}



#categoriasdiv1{
  height: auto;
  width: 100%;
  margin: 0;
}


.categorias{
  
  border-radius: 2px;
  background-color: #ccc;
  padding: 20px ;
  border: 1px solid blue;
  box-shadow: 8px 3px 5px rgba(0, 0, 0, 0.381);

  
  }

.categorias:hover{

    border-radius: 2px;
    background-color: #ccc;
    padding: 20px ;
    border: 4px solid rgb(0, 0, 0);
    transition: 0.5s;
    
    }


.imgdiv1{
  height: 250px;
  width: 250px;

}

#cate1{
  background-image: url("../src/img/asc1.png");
}

#cate2{
  background-image: url("../src/img/baner.jpeg");
}
#cate3{
  background-image: url("../src/img/ondas.png");
}
#cate4{
  background-image: url("../src/img/WhatsApp\ Image\ 2018-05-11\ at\ 08.jpg.crdownload");

}

#cate5{
  background-image: url("../src/img/asc1.png");
}
#cate6{
  background-image: url("../src/img/asc1.png");
}










/* ======================== FOOTER ======================================== */



#footer1{
  width: 100%;
  height: 100px;
  background-color: blue;



}