*{
  padding:0 ;
  margin: 0;
  font-family: sans-serif;

}

#div2{
  height: 100%;
  background-color: rgb(255, 251, 251);
  width: 95%;
  margin: auto;
  overflow: hidden;
  /* position: fixed; */
}


body{
  background-color: rgb(218, 218, 224);
  /* background-image: url("../src/img/wall.jpg"); */
}


#navdiv1{
  display: flex;
  height: 40px;
  width: 100%;
  background-color: rgb(234, 235, 239);
  overflow: hidden;
  position: fixed;
  margin-bottom: 20px;
}
.carangueijo{
  max-width: 30px;
  max-height: 30px;
  margin:7px;
  border-radius: 5px;
}
input{
  height: 25px;
  margin: auto;
  border-radius: 2px;
  
}
.inputandbuton{
    margin: auto;
    height: 40px;
    
    border-radius: 2px;
}
.inputandbuton button{
    height: 29px;
    width: 28px;
    border-radius: 7px;
    margin-left: 5px;
}

.instagram {
  height:40px;
  width: 40px;
  margin: 70% 2px;
}


#doistraços{
  height:40px;
  width: 40px;
  margin: auto 5px;
  
  margin-right: 8px;
}










/* ================================ APRESENTAÇÃO
================================================ */






#aprediv1{
  margin-top: 10px;
  display: flex;
  height: 400px;
  width: 90%;
  max-width: 1000px;
  background-color: blue;
  margin: auto;
  box-shadow: 15px 8px 15px rgba(0, 0, 0, 0.232);
  border-radius: 7px;
}



#apredivimg{
  width: 100%;
  height: 100%;
  border-radius: 3px;
}








/* ================ CATEGORIAS================================================== */


#categoriasdiv2{
  display:grid;
  
  width: 500px;
  padding: 15px;
  margin: auto;
  grid-template-columns: 240px 240px  ;
  grid-template-rows: 250px 250px 250px 250px;
  gap: 3px;
  text-align: center;
  
  justify-content: center;
  
  
}



#categoriasdiv1{
  height: auto;
  width: 100%;
  margin: auto;
  
}


.categorias{
  
  border-radius: 2px;
  background-color: #ccc;
  padding: 20px ;
  border: 1px solid rgb(49, 49, 81);
  box-shadow: 8px 3px 5px rgba(0, 0, 0, 0.381);

  
  }

.categorias:hover{

    border-radius: 2px;
    background-color: #ccc;
    padding: 20px ;
    border: 4px solid rgb(0, 0, 0);
    transition: 0.5s;
    
    }


.imgdiv1{
  height: 250px;
  width: 250px;

}

#cate1{
  background-image: url("../src/img/asc1.png");
}

#cate2{
  background-image: url("../src/img/baner.jpeg");
}
#cate3{
  background-image: url("../src/img/ondas.png");
}
#cate4{
  background-image: url("../src/img/WhatsApp\ Image\ 2018-05-11\ at\ 08.jpg.crdownload");

}

#cate5{
  background-image: url("../src/img/asc1.png");
}
#cate6{
  background-image: url("../src/img/asc1.png");
}










/* ======================== FOOTER ======================================== */



#footer1{
  width: 100%;
  height: 100px;
  background-color: rgb(199, 199, 212);



}








/* ============================NOTICIAS================================ */




.bodyy{
  background-color: rgb(242, 234, 234);
  width: 85%;
  height: 100vh;
  margin: auto;
}
















@media only screen and (max-width: 800px) {
  body {
    background-color: rgb(218, 218, 223);
  }
  #doistraços{
    height:30px;
    width: 40px;
    margin-top: 5px;
    margin-right: 8px;
  }
  input{
    height: 25px;
    width: 100px;
    margin: auto;
    border-radius: 2px;
    
  }
  .inputandbuton{
      margin: auto;
      height: 40px;
      
      border-radius: 2px;
  }
  .inputandbuton button{
      height: 29px;
      width: 28px;
      border-radius: 7px;
      margin-left: 5px;
      margin-top: 5px;
  }
  .instagram {
    height:30px;
    width: 30px;
    margin-top: 5px;
    margin-right: 8px;
  }

  #categoriasdiv2{
    display:grid;
    transition: 10ms;
    width: 300px;
    padding: 15px;
    margin: auto;
    grid-template-columns: 150px 150px  ;
    grid-template-rows: 150px 150px 150px 150px;
    gap: 10px;
    
    
  }
  
#aprediv1{
  margin-top: 10px;
  display: flex;
  height: 150px;
  width: 90%;
  max-width: 1000px;
  background-color: rgb(42, 42, 224);
  margin:30px auto;

  box-shadow: 15px 8px 15px rgba(0, 0, 0, 0.232);
  border-radius: 7px;
}



}

@media only screen and (min-width: 800px) {


  #categoriasdiv2{
    display:grid;
    transition: 10ms;
    width: 300px;
    padding: 15px;
    margin: auto;
    grid-template-columns: 300px 300px  ;
    grid-template-rows: 300px 300px 300px 300px;
    gap: 10px;
    
    
  }
  #navdiv1{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: rgb(223, 221, 235);
    
    overflow: hidden;
  }
  .carangueijo{
    max-width: 80px;
    max-height: 80px;
    margin:7px;
    border-radius: 5px;
  }
  input{
    height: 25px;
    margin: auto;
    border-radius: 2px;
    
  }
  .inputandbuton{
      margin: auto;
      height: 40px;
      
      border-radius: 2px;
  }
  .inputandbuton button{
      height: 29px;
      width: 28px;
      border-radius: 7px;
      margin-left: 5px;
  }
  .doistraços{
    display: none;
    height:100px;
    width: 100px;
    margin-top: 5px;
    margin-right: 8px;
  }
 
  .carangueijo{
    max-width: 80px;
    max-height: 80px;
    margin:7px;
    border-radius: 5px;
  }
  input{
    height: 25px;
    margin: auto;
    border-radius: 2px;
    
  }
  .inputandbuton{
      margin: auto;
      height: 40px;
      
      border-radius: 2px;
  }
  .inputandbuton button{
      height: 29px;
      width: 28px;
      border-radius: 7px;
      margin-left: 5px;
  }
  .doistraços{
    display: none;
    height:100px;
    width: 100px;
    margin-top: 5px;
    margin-right: 8px;
  }
  
  
  #div2{
    height: 100%;
    background-color: rgb(255, 251, 251);
    width: 1100px;
    margin: auto;
  }
  .instagram {
    height:40px;
    width: 40px;
    margin: 40% 5px;
  }
  

  

}


