#div2{
  height: 100%;
  background-color: rgb(255, 251, 251);
  width: 95%;
  margin: auto;
  overflow: hidden;
  /* position: fixed; */
}


.inputandbuton{
  display: flex;
  margin: auto 25px auto auto ;
}

#navdiv1{
  display: flex;
  height: 40px;
  width: 100%;
  background-color: rgb(46, 46, 199);
  overflow: hidden;
  position: fixed;
  margin-bottom: 20px;
}
.carangueijo{
  width: 50px;
  height: 50px;
  margin-left: 1rem;
  border-radius: 5px;
}

/* .inputandbuton{
    margin: auto;
    height: 40px;
    
    border-radius: 2px;
} */


.instagram {
  height:40px;
  width: 40px;
  
  margin-right: 100px;

}


#doistraços{
  height:40px;
  width: 40px;
  
  
  margin-right: 8px;
  
}






@media only screen and (max-width: 800px) {

  #doistraços{
    height:30px;
    width: 40px;
    margin-top: 5px;
    margin-right: 8px;
  }


  .instagram {
    height:30px;
    width: 30px;
    margin-top: 5px;
    margin-right: 8px;
  }



}




@media only screen and (min-width: 800px) {



  #navdiv1{
    display: flex;
    height: 40px;
    width: 100%;
    background-color: rgb(241, 238, 238);
    
    overflow: hidden;
  }
  .carangueijo{
    width: 50px;
    height: 50px;
    margin-left: 1rem;
    border-radius: 5px;
  }

 



 
 
  .doistraços{
    display: none;
    height:100px;
    width: 100px;
    margin-top: 5px;
    margin-right: 8px;
  }
  
  
 
  .instagram {
    height:40px;
    width: 40px;
    margin: 2% 5px;
  }
  
  

}